.welcome {
  text-align: center;
}

.welcome-logo {
  animation: welcome-logo-spin infinite 20s linear;
  height: 80px;
}

.welcome-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.welcome-intro {
  font-size: large;
}

@keyframes welcome-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
